<a href="https://colab.research.google.com/github/veda-127/ome/blob/main/assignments_day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
integer_type = 99
float_type = 3.14
String_type = "Day1 Assignment"
boolean_type = True
print(integer_type,type(integer_type))
print(float_type,type(float_type))
print(String_type,type(String_type))
print(boolean_type,type(boolean_type))

99 <class 'int'>
3.14 <class 'float'>
Day1 Assignment <class 'str'>
True <class 'bool'>

In [2]:
integer_type = 99
float_type = 3.14
String_type = "Day1 Assignment"
boolean_type = True
print(integer_type,type(integer_type))
print(float_type,type(float_type))
print(String_type,type(String_type))
print(boolean_type,type(boolean_type))

99 <class 'int'>
3.14 <class 'float'>
Day1 Assignment <class 'str'>
True <class 'bool'>

In [3]:
#Create a List, tuple and Dictionary with 5 elements in it and how to access few elements based on the index. Try  with different examples
my_list = [10,20,30,40,50]
print(my_list)
print(my_list[0])
print(my_list[1])
print(my_list[-1])
print(my_list[2:4])

[10, 20, 30, 40, 50]
10
20
50
[30, 40]

In [4]:
my_tuple = (10,20,30,40,50)
print(my_tuple)
print(my_tuple[0])
print(my_tuple[1])
print(my_tuple[-1])
print(my_tuple[2:4])
print(my_tuple[2:])

(10, 20, 30, 40, 50)
10
20
50
(30, 40)
(30, 40, 50)

In [5]:
my_dict={"name":"veda sai samitha",
         "rollno":"2211CS020624",
         "year":3,
         "section":"omega",
         "clg_name":"MRU"
        }
print(my_dict,"\n")
print(my_dict["name"])
print(my_dict["rollno"])

{'name': 'veda sai samitha', 'rollno': '2211CS020624', 'year': 3, 'section': 'omega', 'clg_name': 'MRU'}

veda sai samitha
2211CS020624

In [6]:
python=int(input("enter the marks of python: "))
java=int(input("enter the marks of java: "))
dbms=int(input("enter the marks of dbms: "))
average = (python+java+dbms)/3
print (average)
if (average >= 90):
    print("GRADE : A")
elif (80 <= average < 89):
    print("GRADE : B")
elif (70 <= average < 79):
    print("GRADE : C")
else:
    print("GRADE : FAIL")

enter the marks of python: 50
enter the marks of java: 90
enter the marks of dbms: 75
71.66666666666667
GRADE : C

In [7]:
#Write a Python program to calculate the sum of all even numbers between 1 and a given positive integer n
n = int(input("enter the n value: "))
numbers = 0
for i in range(1,n+1):
    if(i % 2 == 0):
        numbers += i
print(" the sum of the numbers from 1 to ", n, "is: ", numbers)

enter the n value: 5
 the sum of the numbers from 1 to  5 is:  6