<a href="https://colab.research.google.com/github/veda-127/ome/blob/main/variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Declare an integer variable
my_int = 5

# Declare a float variable
my_float = 2.71

# Declare a string variable
my_string = "Python"

# Declare a boolean variable
my_bool = False

# Print each variable and its type
print(my_int, type(my_int))
print(my_float, type(my_float))
print(my_string, type(my_string))
print(my_bool, type(my_bool))

5 <class 'int'>
2.71 <class 'float'>
Python <class 'str'>
False <class 'bool'>

In [10]:
def Calculate_grade(subject1,subject2,subject3,n):
  n=(subject1+subject2+subject3)/3
subject1= float(input("Enter marks for subject 1: "))
subject2 = float(input("Enter marks for subject 2: "))
subject3 = float(input("Enter marks for subject 3: "))
if 100<=n>=90:
  print("Grade: A")
if 80<=n<=89:
  print("Grade: B")
if 70<+n<=79:
  print("Grade: c")
else:
  print("fail")

Enter marks for subject 1: 60
Enter marks for subject 2: 80
Enter marks for subject 3: 40
fail